{% extends "base.html" %}

{% block title %}Home{% endblock %}



{% block extra %}
<link rel="stylesheet" href="/static/css/intro.css">
{% endblock%}


{% block nav_intro %}class="active"{% endblock %}


{% block content %}

<h1>Introduction</h1>
<h3>Web App Group 26</h3>
<p>Nick Jones</p>
<p>Email: jonesni19@students.ecu.edu</p>

<h3>Motivation</h3>
<p>
    I wanted to create an app to help people eat better. 
    It has personalized meal plans, can track calories accurately, and suggest healthy recipes. 
    This app aims to make it easier for everyone to make healthier food choices and improve their overall well-being.
</p>

  
{% endblock %}