<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login / Sign Up Page</title>
    <link rel ="stylesheet" href="static/css/login.css">
</head>
<body>
    <div class="form-container" id="login-form">
        <h2>First Step</h2>
        <h2>Login</h2>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="login-username">Username:</label>
                <input type="text" id="login-username" name="login-username" required>
            </div>
            <div class="form-group">
                <label for="login-password">Password:</label>
                <input type="password" id="login-password" name="login-password" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Login">
            </div>
        </form>
        <div class="switch-form">
            <a onclick="toggleForm('signup-form')">Don't have an account? Sign Up</a>
        </div>
    </div>

    <div class="form-container" id="signup-form">
        <h2>First Step</h2>
        <h2>Sign Up</h2>
        <form action="/signup" method="post">
            <div class="form-group">
                <label for="signup-name">Name:</label>
                <input type="text" id="signup-name" name="signup-name" required>
            </div>
            <div class="form-group">
                <label for="signup-email">Email:</label>
                <input type="text" id="signup-email" name="signup-email" required>
            </div>
            <div class="form-group">
                <label for="signup-username">Username:</label>
                <input type="text" id="signup-username" name="signup-username" required>
            </div>
            <div class="form-group">
                <label for="signup-password">Password:</label>
                <input type="password" id="signup-password" name="signup-password" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign Up">
            </div>
        </form>

        <div class="switch-form">
            <a onclick="toggleForm('login-form')">Already have an account? Login</a>
        </div>
    </div>

    <script>
        function toggleForm(formId) {
            var loginForm = document.getElementById('login-form');
            var signupForm = document.getElementById('signup-form');

            if (formId === 'signup-form') {
                loginForm.style.display = 'none';
                signupForm.style.display = 'block';
            } else {
                loginForm.style.display = 'block';
                signupForm.style.display = 'none';
            }
        }
    </script>
</body>
</html>
