{% extends "base.html" %}

{% block title %}Home{% endblock %}



{% block extra %}
<link rel="stylesheet" href="/static/css/plan.css">
<script src="/static/js/plan.js"></script>
{% endblock%}


{% block nav_plan %}class="active"{% endblock %}


{% block content %}

<h1>Meal Plan Generator</h1>


<div id="target_cal_container">
    <form style ="width: 300px;" id="target_cal_form">
        <div class="form-row" id = "target_row">
            <div class="form-group">
                <label for="target_cal">Amount of target calories</label>
                <input type="number" class="form-control" id="target_cal" placeholder="Target Calories">
            </div>
        </div>
    </form>

    <button class="button" id="gen_meal_plan">Generate Meal Plan</button>
</div>

<table class="table table-bordered" id="recip_table">
    <caption>Recipe Table</caption>
    <thead>
        <tr>
        <th>Recipe Name</th>
        <th>Carbs(grams)</th>
        <th>Fat(grams)</th>
        <th>Protein(grams)</th>
        <th>Calories</th>
        </tr>
    </thead>

    <tbody>
    </tbody>
    <tfoot>
    </tfoot>
</table>

<button class="button" id="add_meal">Add Meals To Meal Plan </button>

  
{% endblock %}